# Dependencies
node_modules/
.pnp/
.pnp.js

# Builds / output
dist/
build/
out/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files (secrets)
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Docker (opcional)
*.pid

# Tests automatizados (TestSprite)
testsprite_tests/
